#speelveld{
    display: block;
    background-color: darkgreen;
}

#bal{
    display: block;
    position: absolute;

}

.goal{
    display: block;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 20px;
}